body {
  margin: 0;
}

#container {
  color: var(--main-color);
  max-width: 700px;
  min-width: 300px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#topDecoration {
  position: absolute;
  z-index: -10;
  max-width: 700px;
  min-width: 300px;
  width: 100%;
}

#storiesContainer {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
  white-space: nowrap;
  margin-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}

.story {
  height: 126px;
  width: 74px;
  margin: 0px 6px;
}

.storyImage {
  width: 64px;
  height: 96px;
  border-radius: 16px;
  border: 2px solid;
  color: var(--main-color);
}

.storyLabel {
  width: 70px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 0px;
  padding: 0;
  text-align: center;
}

#storiesContainer::-webkit-scrollbar {
  display: none;
}
